<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Furama Resort</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <form action="/admin/stay/create" method="POST" class="center-form">
      <div class="form-group">
        <a class="btn btn-primary form-control" role="button" href="/admin/stay">Back to stay list</a>
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">Stay service type: </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stayServiceType" id="roomRadio" value="Room" checked />
          <label class="form-check-label" for="stayServiceType1">Room</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stayServiceType" id="houseRadio" value="House" />
          <label class="form-check-label" for="stayServiceType2">House</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="stayServiceType" id="villaRadio" value="Villa" />
          <label class="form-check-label" for="stayServiceType3">Villa</label>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="stayServiceCode" placeholder="Enter service code" required />
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="area" placeholder="Enter area" required />
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="maxGuest" placeholder="Enter max guest" required />
      </div>
      <div class="form-group">
        <input type="number" class="form-control" name="rentalCost" placeholder="Enter rental cost" required />
      </div>
      <div class="form-group">
        <div class="form-check form-check-inline">
          <label class="form-check-label">Rental type: </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rentalType" id="rentalType1" value="Day" checked />
          <label class="form-check-label" for="rentalType1">Day</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rentalType" id="rentalType2" value="Month" />
          <label class="form-check-label" for="rentalType2">Month</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rentalType" id="rentalType3" value="Year" />
          <label class="form-check-label" for="rentalType3">Year</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="rentalType" id="rentalType4" value="Hour" />
          <label class="form-check-label" for="rentalType4">Hour</label>
        </div>
      </div>
      <div class="form-group" id="stayDescription">
        <input type="text" class="form-control" name="description" placeholder="Enter description" required />
      </div>
      <div class="form-group" id="stayStandard" hidden>
        <input type="text" class="form-control" name="standard" placeholder="Enter standard" />
      </div>
      <div class="form-group" id="numberOfFloors" hidden>
        <input type="number" class="form-control" name="numberOfFloors" placeholder="Enter number of floors" />
      </div>
      <div class="form-group" id="poolArea" hidden>
        <input type="number" class="form-control" name="poolArea" placeholder="Enter area of pool" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">Create new stay</button>
      </div>
    </form>
    <script src="/js/stay-create.js"></script>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
