<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Furama Resort</title>
    <style>
      .center-image {
        width: 100%;
        max-width: 500px;
        padding-top: 50px;
        margin: 0 auto;
      }
      .center-image img {
        width: 500px;
      }
    </style>
  </head>
    <div class="center-image">
      <img src="/images/400-bad-request.jpg" alt="400-bad-request" />
    </div>
  </body>
</html>
