<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Furama Resort</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Dịch vụ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tìm kiếm</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Review</a>
        </li>
    </ul>
</body>

</html>