<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Furama Resort</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div>
      <form class="center-form" th:action="@{/admin/customer/__${customer.id}__/update}" method="POST" th:object="${customer}">
        <div class="form-group">
          <a class="btn btn-primary form-control" role="button" href="/admin/customer">Back to customer list</a>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{customerCode}" placeholder="customerCode" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{firstName}" placeholder="firstName" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{middleName}" placeholder="middleName" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{lastName}" placeholder="lastName" />
        </div>
        <div class="form-group">
          <select class="form-control" name="genderId">
            <option th:each="g : ${genders}" th:value="${g.id}" th:text="${g.genderName}" th:selected="${customer.gender.id == g.id}">genderName</option>
          </select>
        </div>
        <div class="form-group">
          <input type="date" class="form-control" th:field="*{birthDate}" />
        </div>
        <div class="form-group">
          <select class="form-control" name="customerTypeId">
            <option th:each="ct : ${customerTypes}" th:value="${ct.id}" th:text="${ct.typeName}" th:selected="${customer.customerType.id == ct.id}"
              >typeName</option
            >
          </select>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" th:field="*{phoneNumber}" placeholder="phoneNumber" />
        </div>
        <div class="form-group">
          <input type="email" class="form-control" th:field="*{email}" placeholder="email" />
        </div>
        <div class="form-group">
          <input type="text" class="form-control" th:field="*{address}" placeholder="address" />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary form-control">Update</button>
        </div>
        <div class="form-group">
          <a class="btn btn-danger form-control" role="button" th:href="@{/admin/customer/__${customer.id}__/delete}">Delete</a>
        </div>
      </form>
    </div>
    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
